{{range $dir := lsdir "/services/internal"}}
upstream {{base $dir}} {
    {{$custdir := printf "/services/internal/%s/*" $dir}}{{range getvs $custdir}}
    server {{.}};
    {{end}}
}

server {
    server_name {{base $dir}}.domain.com;
    access_log /var/log/nginx/access.log upstreamlog;
    location / {
        proxy_pass http://{{base $dir}};
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
{{end}}
