[Unit]
Requires=docker.service
Description=Docker image cleanup service for limited or in-memory nodes

[Service]
ExecStart=/bin/bash -c "sudo systemctl reset-failed"

[X-Fleet]
Global=true

