#cloud-config
    coreos:
      units:
         - name: systemd-journal-gatewayd.socket
         command: start
         enable: yes
         content: |
           [Unit]
           Description=Journal Gateway Service Socket
           [Socket]
           ListenStream=/var/run/journald.sock
           Service=systemd-journal-gatewayd.service
           [Install]
           WantedBy=sockets.target
